<div class="Assosiate">
    <div align="center">
        <h1> What Does A Referral Assosiate<a href="#">Do</a>? </h1>
    </div>
    <div fxLayout="row " fxLayoutAlign="space-around center">
        <div fxFlex="40">
            <img src="../../../assets/img/undraw-quitting-time-dm-8-t.png" alt=""></div>
        <div fxFlex="40">
            <h4>
                ❖ Maintains a current real estate license.</h4>
            <h4>❖ Completes all required Continuing Education requirements to keep license current.</h4>
            <h4>❖ Renew license as scheduled according to local requirements.</h4>
            <h4>❖ Submits referral clients through the RRR portal.</h4>
        </div>
    </div>
</div>
<div class="Assosiate-2">

    <div align="center" >
        <h1> What Does A Referral Assosiate Not<a href="#">Do</a>? </h1>
    </div>

    <div fxLayout="row wrap " fxLayoutAlign="space-around center">
        <div fxFlex="40">
            <div>
                <h4>❖ Make appointments, Show property</h4>
                <h4> ❖ Provide advice to Buyers or Sellers regarding price, negotiating strategy, or repair strategy
                </h4>
                <h4> ❖ Write offers, Attend any inspections</h4>
                <h4>❖ Interfere with any active real estate professional</h4>
                <h4>❖ Pay fees to any local real estate board, MLS, or Realtor Association</h4>
                <h4>❖ Pay E&O</h4>
            </div>
        </div>
        <div fxFlex="40">
            <img src="../../../assets/img/undraw-career-progress-ivdb.png" alt=""></div>
    </div>
</div>