hr {
  color: #10767b;
}
img {
  width: 179px;
  height: 150px;
  object-fit: contain;
}
.fa {
  padding: 10px;
}
p,
h4 {
  color: #10767b;
}
.main {
  padding-top: 50px;
}
@media screen and (max-width: 1279px) {
  .footer h4 {
  text-align: center;
    
  }
  .footer p{
    text-align: center;
  }
  .footer icon{
    text-align: center !important; 
  }
  
}
