<div class="main">
    <hr>
    <div class="footer">
        <div fxLayout="row wrap" fxLayoutAlign="space-evenly start">
            <div fxFlex="20" fxflex md="100" fxFlex sm="100" fxFlex xs="100">
                <div align="center">
                    <img src="../../../assets/img/group@2x.png">
                </div>
            </div>
            <div fxFlex="20" fxFlex md="50" fxFlex="50" fxFlex xs="50">
                <h4>BUYERS & SELLERS</h4>

                <p>First time home buyers<p>
                        <p> Luxury</p>
                        <p>Condos</p>
                        <p> Foreclosures</p>
                        <p>Relocation</p>

            </div>
            <div fxFlex="20" fxFlex md="50" fxFlex="50" fxFlex xs="50">
                <h4>BUYERS & SELLERS</h4>
                <p> Mobile App</p>
                <p>Blog</p>
                <p> Mortgage</p>
                <p> United Corporation</p>
                <p> Fair Housing</p>

            </div>
            <div fxFlex="20" fxFlex md="50" fxFlex="50" fxFlex xs="50">
                <h4>PARTNERS</h4>
                <p>Resource Financial</p>
                <p>Enhanced Marketing Solutions</p>
                <p>Mr. Rekey</p>
                <p>Credit Law Center</p>
                <p>Strategic Client Services</p>
            </div>

            <div fxFlex="20" fxFlex md="50" fxFlex="50" fxFlex xs="50">
                <h4>CONTACT US</h4>
                <p><i class="fa fa-phone"></i>+ 098765</p>
                <p><i class="fa fa-envelope-o"></i>mail@mail.com</p>
<div class="icon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube-square"></i>
            </div>


            </div>


        </div>

    </div>
</div>