h3 {
    width: 918px;
    height: 39px;
    font-size: 36px;
    font-weight: 600;
    color: #0e2d53;
    text-align: center;
  }
  
   a {
    color: #10767b;
  }
  
  h4{
  color: #0e2d53;
  }
  
  h4 {
    font-family: ZapfDingbatsITC;
    font-weight: normal;
  }
  