.Realty-Referral-Reso {
    width: 591px;
    font-size: 25px;
   text-align: center;
    color: #0e2d53;
  }
  .Lorem-Ipsum-is-simpl {
    width: 1200px;
    text-align: center;
    color: #0e2d53;
  }
  .Group-230 {
    width: 1146px;
    padding-top: 40px;
    height: 480px;
    object-fit: contain;
  }
  .How-It-Works {
    width: 591px;
    padding-top: 80px;
    font-size: 25px;
   text-align: center;
    color: #0e2d53;

  }
  .The-Realty-Referral {
    width: 1200px;
    padding-top: 0px;
    text-align: center;
    color: #0e2d53;
    line-height: 2;
    font-size: 16px;
     height:200px;
  }
 .reality{
   padding-top: 30px;
 }