<div>
    <h1 align="center">What Our Agents says</h1>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div class=card1>
            <div class="polaroid">
                <img src="../../../assets/img/download.jpg" alt="img">
                <div class="container">
                    <h3>Alan Marti</h3>
                </div>
                <p>Have you ever heard the expression, “Do not count your chickens before they hatch?” Maybe an older,
                    wiser
                    individual would tell you this to keep you from getting ahead of yourself.


                </p>
            </div>

        </div>
        <div class=card2>
            <div class="polaroid">
                <img src="../../../assets/img/download.jpg" alt="img">
                <div class="container">
                    <h3>Rafeed El Nouri</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and
                    scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap
                    into electronic </p>
            </div>

        </div>
        <div class=card3>
            <div class="polaroid">
                <img src="../../../assets/img/download.jpg" alt="img">
                <div class="container">
                    <h3>ilya vasin</h3>
                </div>
                <p>Have you ever heard the expression, “Do not count your chickens before they hatch?” Maybe an older,
                    wiser
                    individual would tell you this to keep you from getting ahead of yourself.
                </p>
            </div>

        </div>
    </div>
</div>