div.polaroid {
    width: 280px;
    box-shadow: 0 4px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: #0e2d53;
  }
  img{
      border-radius: 600px;
      width:100px;
  }
  
  div.container {
    padding: 10px;
  }
 h1{
  color: #0e2d53;
 }